* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: white;
  height: 80vh;
  width: 66vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 10px solid black;
}

.display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  padding-bottom: 4%;
}

.display {
  height: 12vh;
  width: 64vw;
  background-color: black;
  border: 5px solid darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-container {
  width: 62vw;
  height: 10vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column-reverse;
}

.result-value-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 6vh;
  width: 62vw;

}

.result-value{
  font-size: 72px;
  color: white;
  text-align: right;
}

.previous-value-container {
  height: 3vh;
  width: 30vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.previous-result{
  color: orange;
  text-align: right;

}




.button-container {
  width: 66vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.number-container {
  display: flex;
  height: 62vh;
}

.number-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  column-gap: 2%;
}

.button {
  height: 10vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 50%;
  font-family: "Courier New", Courier, monospace;
}


.zero {
  width: 30vw;
  border-radius: 10%;
}

.button h3 {
  color: black;
  font-size: 32px;
}

.operator-container {
  height: 62vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  align-items: center;
  justify-content: center;
}

.operator {
  background-color: orangered;
}

.mod-percent,
.mod {
  background-color: darkgray;
}


.equals {
  background-color: darkgoldenrod;
}


